.WeatherApp {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  color: #606b6b;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.WeatherApp h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 30px;
  margin: 20px 0 20px 0;
  color: #000;
}

.WeatherApp ul {
  margin: 0;
  padding: 0;
}

.WeatherApp li {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
}

.WeatherApp canvas {
  margin-right: 5px;
  margin-top: 5px;
  display: inline-block;
}

.WeatherApp form {
  background: #e7f6f2;
  padding: 20px;
}

.WeatherApp hr {
  margin: 0px;
  color: #395b64;
}

.WeatherApp .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.WeatherApp .location-btn {
  display: inline-block;
  color: #395b64;
  background: #a5c9ca;
  border: 2px solid #97c4b8;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  margin-right: 15px;
}

.WeatherApp .location-btn:hover {
  background: #f9f3ee;
  color: #97c4b8;
}

@media (max-width: 900px) {
  .WeatherApp {
    box-shadow: none;
    border: none;
  }

  .WeatherApp form {
    padding: 50px;
  }

  .WeatherApp .media-btn {
    margin-left: -15px;
    display: flex;
  }

  .WeatherApp .location-btn {
    margin-right: 5px;
  }

  .WeatherTemperature .temperature {
    font-size: 52px;
  }

  .WeatherApp h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 30px;
    margin: 20px 0 20px 0;
    color: #000;
  }

  .WeatherApp li {
    font-size: 14px;
  }
}
