.WeatherForecast {
  text-align: center;
  padding: 15px;
}

.WeatherForecast-temperature-min {
  opacity: 0.8;
  margin-left: 5px;
}

.WeatherForecastDay {
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .WeatherForecast {
    font-size: 14px;
    padding: 5px;
  }
}
